@model Blog.Models.Replies

@{
    ViewBag.Title = "Details";
    ViewBag.Robot = "noindex, nofollow";
    ViewBag.Google = "noindex, nofollow";
    ViewBag.Bing = "noindex, nofollow";
    ViewBag.Url = "";
}
<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Subcategories", "Index", "Subcategories")</li>
    <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
    <li>@Html.ActionLink("Images", "Index", "Images")</li>
    <li>@Html.ActionLink("Imagemap", "Index", "Imagemaps")</li>
    <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
    <li>@Html.ActionLink("Tagmap", "Index", "Tagmaps")</li>
    <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
    <li class="active">@Html.ActionLink("Replies", "Index", "Replies")</li>
    <li>@Html.ActionLink("Shop", "Index", "Shops")</li>
</ul><br /><br />
<h2>Details</h2>

<div>
    <h4>Replies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reply_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
