@model IEnumerable<Blog.Models.Categories>

@{
    ViewBag.Title = "Index";
    ViewBag.Robot = "noindex, nofollow";
    ViewBag.Google = "noindex, nofollow";
    ViewBag.Bing = "noindex, nofollow";
    ViewBag.Url = "";
}

<ul class="nav nav-tabs">
    <li class="active">@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Subcategories", "Index", "Subcategories")</li>
    <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
    <li>@Html.ActionLink("Images", "Index", "Images")</li>
    <li>@Html.ActionLink("Imagemap", "Index", "Imagemaps")</li>
    <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
    <li>@Html.ActionLink("Tagmap", "Index", "Tagmaps")</li>
    <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
    <li>@Html.ActionLink("Replies", "Index", "Replies")</li>
    <li>@Html.ActionLink("Shop", "Index", "Shops")</li>
</ul><br /><br />
<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Snippet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Reverse())
    {
        <tr>
            <td>
                <a href="\Home/Category_List/@item.Cat_Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Image)" width="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Snippet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cat_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cat_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cat_Id })
            </td>
        </tr>
    }

</table>
